<% if project.errors.any? %>
  <div class="errors">
    <ul>
      <% project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with model: project do |f| %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, placeholder: "Project name" %>
  </div>

  <div class="field">
    <%= f.label :emoji %>
    <%= f.text_field :emoji, placeholder: "e.g. 🚀" %>
  </div>

  <div class="field">
    <%= f.label :color, "Colour" %>
    <%= f.color_field :color %>
  </div>

  <%= f.submit class: "btn btn-primary" %>
<% end %>
